
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poetsen+One&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Amatic SC", sans-serif;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.header{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: #7EA1FF;
    min-height: 100px;
    padding: 10px 80px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);

}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 60px;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    color: #f2f2f2;
}

.logo{
    max-width: 100px;
    max-height: 100px;
    justify-self: flex-start;
}

.logo img{
    max-width: 100px;
    max-height: 100px;
}

main{
    background-color: #FFFAB7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner{
    background: transparent url(../assets/imgs/banner.png) no-repeat;
    background-size: cover;
    max-height: 350px;
    min-width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
    background-position: center;
    border-radius: 0px 0px 50px 50px;
}

.main-title{
    padding: 120px 20%;
}

.main-title h1{
    color: #f2f2f2;
    font-size: 42px;
}

.main-features{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    background-color: #5BBCFF;
    padding: 5% 10%;
    gap: 50px;
    margin-top: 75px;
    width: 70%;
    border-radius: 50px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);

}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 50px;
    background-color: #FFFAB7;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
    color: black;
    font-size: 20px;
    width: 30%;
    transition: scale 0.2s ease-in-out;    
}

.feature:hover{
    scale: 1.1;
    transition: scale 0.2s ease-in-out;    
}

.feature img{
    width: 100%;
    max-width: 450px;
    min-height: 200px;
    max-height: 300px;
    border-radius: 50px 50px 0 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
    object-fit: cover;


}

.feature p{
    font-size: 18px;
    padding: 0 20px 30px 20px; 
    min-height: 80px;
    text-align: center;
}

.more-information{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin-top: 75px;
    max-width: 85%;
}

.below-slider{
    margin-top: 55vh;
}


.more-information:nth-child(even){
    flex-direction: row-reverse;
}

.more-information img{
    max-width: 500px;
    max-height: 500px;
    border-radius: 50px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
}

.more-information .container{
    align-self: flex-start;
    justify-self: flex-start;
}

.section-title{
    font-size: 28px;
}

.section-descriprion{
    font-size: 20px;
}

footer{
    margin-top: 100px;
    width: 100%;
    max-height: 150px;
    min-height: 50px;
    background-color: #7EA1FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}


.social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 10px;
}

.social img{
    max-width: 30px;
    max-height: 30px;
}

a{
    text-decoration: none;
    color: #f2f2f2;
}


.about .more-information img{
    max-width: 300px;
    max-height: 300px;

}

.about .more-information{
    padding: 30px 5%;

}

.about .more-information:nth-child(odd){
    background-color: #5BBCFF;
    border-radius: 50px 0 0 50px;
    align-self: flex-end;
    
}

.about .more-information:nth-child(odd) img{
    max-height: 350px;
}

.img-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


img{
    transition: scale 0.2s ease-in-out;    

}

img:hover:not(.fti){
    scale: 1.1;
    transition: scale 0.2s ease-in-out;    

}
label {
	background: #444;
	color: #fff;
	transition: transform 400ms ease-out;
	display: inline-block;
	width: 100vw;
	height: 50vh;
	position: relative;
	z-index: 1;
	text-align: center;
}

form {
	position: absolute;
	top: 120px;
	left: 0;
	bottom: 0;
	right: 0;
    height: 50vh;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
    border-radius:  0 0 50px 50px;

	white-space: nowrap;
}
input {
	position: absolute;
}

.keys {
	position: fixed;
	z-index: 10;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem;
	color: #fff;
	text-align: center;
	transition: all 300ms linear;
	opacity: 0;
}

input:focus ~ .keys {
	opacity: 0.8;
}

input:nth-of-type(1):checked ~ label:nth-of-type(1), 
input:nth-of-type(2):checked ~ label:nth-of-type(2),
input:nth-of-type(3):checked ~ label:nth-of-type(3),
input:nth-of-type(4):checked ~ label:nth-of-type(4){
   z-index: 0;
}

input:nth-of-type(1):checked ~ label {
	transform: translate3d(0, 0, 0);
}

input:nth-of-type(2):checked ~ label {
	transform: translate3d(-100%, 0, 0);
}

input:nth-of-type(3):checked ~ label {
	transform: translate3d(-200%, 0, 0);
}

input:nth-of-type(4):checked ~ label {
	transform: translate3d(-300%, 0, 0);
}

label {
	background: transparent url(../assets/imgs/banner.png);
	background-size: cover;
    color: transparent;
    background-position: center;
    border-radius:  0 0 50px 50px;

}

label:nth-of-type(2){
    background: transparent url(../assets/imgs/futbol.jpg);
	background-size: cover;
    background-position: center;
    border-radius:  0 0 50px 50px;


}

label:nth-of-type(3) {
    background: transparent url(../assets/imgs/pchelichka.jpg);
	background-size: cover;
    background-position: center;
    border-radius:  0 0 50px 50px;


}

label:nth-of-type(4) {
    background: transparent url(../assets/imgs/gora.png);
	background-size: cover;
    background-position: center;
    border-radius:  0 0 50px 50px;


}

label:before,
label:after {
	color: white;
	display: block;
	background: rgba(255,255,255,0.2);
	position: absolute;
	padding: 1rem;
	font-size: 3rem;
	height: 10rem;
	vertical-align: middle;
	line-height: 10rem;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	cursor: pointer;
}

label:before {
	content: "\276D";
	right: 100%;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

label:after {
	content: "\276C";
	left: 100%;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}

.contact-form{
    all: unset;
    width: 80%;
    background-color: #5BBCFF;
    padding: 50px;
    margin: 50px 0;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.contact-form label,
.contact-form label:after,
.contact-form label::before,
.contact-form input,
.contact-form select,
.contact-form textarea{
    all: unset
}
.contact-form label,
.contact-form input,
.contact-form textarea
{
    width: 70vw;
    max-width: 1200px;
}

.contact-form input,
.contact-form select,
.contact-form textarea{
    font-size: 18px;
    padding: 15px 20px;
    border: 1px solid #0000006b;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
    background-color: #f2f2f2;
    margin-bottom: 20px;
    color: #757575;

}

.contact-form label{
    font-size: 24px;
    color: #f2f2f2;
    font-weight: 900;

}

.contact-form input[type=submit]{
    width: 20vw;
    align-self: center;
    text-align: center;
    background-color: #FFFAB7;
    text-transform: uppercase;
}

.contact-form input[type=submit]:hover{
    background-color: #7EA1FF;
    color: #f2f2f2;
}



.contact-form input[type=date]{
    max-width: 70%;
    margin-top: 20px;
}

.date-wrapper{
    width: 70vw;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.date-wrapper div{
    max-width: 50%;
}




